{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <!-- Principal Content Start -->
    <div id="login">
        <div class="container">
            <form method="post" class='form-horizontal'>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.email }}, <a href="{{ path('logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="username">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" autocomplete="current-username" required autofocus/>
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" class="form-control" autocomplete="current-password" required/>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button class="pull-right btn btn-lg sr-button" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>
{% endblock %}