{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div id="blog">
        <div class="container">
            <div class="row">

                <!-- Blocks of Posts -->
                <div class="col-xs-12 col-sm-8 row">
                    {% for post in posts %}
                        <div class="col-xs-12 col-sm-12">
                            <div class="post">
                                <div class="post-heading">
                                    <span>{{ post.publishedData | date('d F') }}</span>
                                    <img class="img-responsive" src="{{ asset('images/index/gallery/' ~ post.image) }}" alt="post's picture">
                                </div>
                                <div class="post-body">
                                    <h3><a href="{{ path('single_post', { 'slug': post.slug }) }}"><strong>{{ post.title }}</strong></a></h3>
                                    <hr>
                                    <p>{{ post.content | slice(0, 150) ~ '...' }}</p>
                                </div>
                                <div class="post-footer">
                                    <a class="btn" href="{{ path('single_post', { 'slug': post.slug }) }}">READ MORE...</a>
                                    <span>
                                        <i class="fa fa-heart sr-icons"></i> {{ post.numLikes }}
                                        <i class="fa fa-comments sr-icons"></i> {{ post.numComments }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <nav class="text-left">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#" aria-label="suivant">
                                    <span aria-hidden="true">&raquo;</span>
                                </a></li>
                        </ul>
                    </nav>
                </div>
                <!-- End of Blog Post -->

                <!-- Side bar -->
                <div class="col-xs-12 col-sm-4">
                    <form class="form-horizontal">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Research">
                            <span class="input-group-btn">
                                <a href="" class="btn"><i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </form>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4>Categories</h4>
                        </div>
                        <div class="panel-body">
                            <ul class="nav">
                                <li><a href="#">Category I</a></li>
                                <li><a href="#">Category II</a></li>
                                <li><a href="#">Category III</a></li>
                                <li><a href="#">Category IV</a></li>
                                <li class="last"><a href="#">Category V</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="well">
                        <h4>Soluta</h4>
                        <p>Quod soluta corrupti earum officia vel inventore vitae quidem, consequuntur odit impedit.</p>
                    </div>

                    <h3>Recent Posts</h3>
                    <hr>
                    {% for recent in recents %}
                        <div class="post">
                            <div class="post-heading">
                                <span>{{recent.publishedData | date('d') }} {{ recent.publishedData | date('F') }}</span>
                                <img class="img-responsive" src="{{ asset('images/index/gallery/' ~ recent.image) }}" alt="post's picture">
                            </div>
                            <div class="post-body">
                            <span>
                                <i class="fa fa-heart sr-icons"></i> {{ recent.numLikes }}
                                <i class="fa fa-comments sr-icons"></i> {{ recent.numComments }}
                            </span>
                                <h4 class="text-left"><a href=""><strong>{{ recent.title }}</strong></a></h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- End of Side bar -->

            </div>
        </div>
    </div>
{% endblock %}