{% extends 'base.html.twig' %}
{% block title%}New Post{% endblock %}
{% block body%}
    <!-- Principal Content Start -->
    <div id="new Post">
        <div class="container">
            <div class="col-xs-12 col-sm-8 col-sm-push-2">
                <h1>New Post</h1>
                {% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}
                {{ form_start(form) }}

                {{ form_row(form.title) }}

                {{ form_row(form.content) }}

                {{ form_row(form.image) }}

                {{ form_row(form.Send) }}

                {{ form_end(form) }}
                <hr class="divider">
            </div>
        </div>
    </div>
    <!-- Principal Content Start -->
{% endblock %}