{% extends 'base.html.twig' %}

{% block title %}Single Post{% endblock %}

{% block body %}
    <div id="single">
        <div class="container">

            <!-- Full Article -->
            <div class="row">
                <h2>{{ post.title }}</h2>
                <hr class="subtitle">
                <div class=" block1">
                    <div class="col-xs-12 col-sm-9">
                        <p>{{ post.content }}</p>
                        <h4>- By {{ post.user.name }}</h4>
                        <hr>
                        <ul class="list-inline">
                            <li>{{ post.publishedData | date('d F')}} |</li>
                            <li><a class="page-scroll" href="#form">{{ post.numComments }} COMMENT</a> |</li>
                            <li><a href="">{{ post.numLikes }} LIKE</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <h4>Recent Post</h4>
                        <hr class="subtitle1">
                        {% for recent in recents %}
                            {{ include ('partials/_recent_posts.html.twig', {'recent': recent}) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- End of Full Article -->

            <!-- Comments -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 block2">
                    {% for comment in comments %}
                        {{ include ('partials/_comment.html.twig', {'comment': comment}) }}
                    {% endfor %}

                    <hr class="line">
                    {{ include ('partials/_form_comment.html.twig') }}
                </div>
            </div>
            <!-- End of Comments -->
        </div>
    </div>
{% endblock %}